/* styling for the index page using ids and classes */
#indexpage {
    background-color: aqua;
    font-family: Arial, sans-serif;
}

.index.header {
    color:bisque;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

#pizzalist {
    color: yellow;
    margin: 25px;
}
#lasagnalist {
    color: orange;
    margin: 25px;

}
#burgerlist {
    color: red;
    margin: 25px;
}


/* styling for the pizza page using ids and classes */

#pizza {
    background-color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
}

.pizza.header {
    color: darkorange;
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border:#000000 3px solid;
    font: bold 36px 'Georgia', serif;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.pizza.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid darkorange;
    border-radius: 10px;
}

.pizza.description {
    color: lightgoldenrodyellow;
    background-color: darkorange;
    font-size: 25px;
    border:#000000 2px solid;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}

.pizza.ingredients {
    color: lightgoldenrodyellow;
    background-color: black;
    font-size: 25px;
    border:#000000 2px solid;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}

.pizza.steps {
    color: darkorange;
    background-color: lightgoldenrodyellow;
    font-size: 25px;
    border:#000000 2px solid;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}

.pizza.ingredients-list li, .pizza.steps-list li {
    margin: 10px 0;
}

#index-link-back {
    display: block;
    text-align: center;
    margin: 30px;
    font-weight: bold;
    color: darkred;
    background-color: black;
}


/* styling for the lasagna page using ids and classes */

#lasagna {
    background-color: lightyellow;
    font-family: 'Courier New', Courier, monospace;
}

.lasagna.header {
    color: orange;
    background-color: lightslategrey;
    padding: 15px;
    border:#000000 3px solid;
    font: bold 36px 'Georgia', serif;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.lasagna.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid orange;
    border-radius: 10px;
}

.lasagna.description {
    color: lightslategrey;
    background-color: orange;
    font-size: 25px;
    border:#000000 2px solid;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}

.lasagna.ingredients {
    color: lightslategrey;
    background-color: black;
    font-size: 25px;
    border:#000000 2px solid;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}

.lasagna.steps {
    color: orange;
    background-color: lightslategrey;
    font-size: 25px;
    border:#000000 2px solid;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}